[Unit]
Description=Chisel connection
After=network-online.target ssh.service
Wants=ssh.service

[Service]
User=emmanuel
Type=simple
#WorkingDirectory=~
ExecStart=/usr/local/bin/chisel.sh
Restart=on-failure
RestartSec=60
KillSignal=SIGINT
StandardOutput=journal
StandardError=journal
CPUQuota=40%
MemoryMax=200M

[Install]
WantedBy=multi-user.target
